<% content_for :title, "Editing rule" %>

<h1>Editing rule</h1>

<%= render "form", rule: @rule %>

<br>

<div>
  <%= link_to "Show this rule", @rule %> |
  <%= link_to "Back to rules", rules_path %>
</div>
